{
  "1": {
    "inputs": {
      "unet_name": "z-image\\z_image_turbo_bf16_nsfw_v2.safetensors",
      "weight_dtype": "default"
    },
    "class_type": "UNETLoader"
  },
  "2": {
    "inputs": {
      "clip_name": "qwen_3_4b.safetensors",
      "type": "qwen_image",
      "device": "default"
    },
    "class_type": "CLIPLoader"
  },
  "3": {
    "inputs": {
      "vae_name": "Z-image-vae.safetensors"
    },
    "class_type": "VAELoader"
  },
  "4": {
    "inputs": {
      "seed": 989413567790297,
      "steps": 9,
      "cfg": 1,
      "sampler_name": "res_multistep",
      "scheduler": "sgm_uniform",
      "denoise": 1,
      "model": [
        "68",
        0
      ],
      "positive": [
        "5",
        0
      ],
      "negative": [
        "6",
        0
      ],
      "latent_image": [
        "7",
        0
      ]
    },
    "class_type": "KSampler"
  },
  "88": {
    "class_type": "PrimitiveStringMultiline",
    "inputs": {"value": ""}
  },
  "89": {
    "class_type": "CR Prompt List",
    "inputs": {
      "prepend_text": "",
      "multiline_text": ["88", 0],
      "append_text": "",
      "start_index": 0,
      "max_rows": 1000
    }
  },
  "5": {
    "inputs": {
      "text": ["89", 0],
      "clip": [
        "2",
        0
      ]
    },
    "class_type": "CLIPTextEncode"
  },
  "6": {
    "inputs": {
      "conditioning": [
        "5",
        0
      ]
    },
    "class_type": "ConditioningZeroOut"
  },
  "7": {
    "inputs": {
      "width": [
        "62",
        0
      ],
      "height": [
        "63",
        0
      ],
      "batch_size": 1
    },
    "class_type": "EmptyLatentImage"
  },
  "8": {
    "inputs": {
      "samples": [
        "4",
        0
      ],
      "vae": [
        "3",
        0
      ]
    },
    "class_type": "VAEDecode"
  },
  "20": {
    "inputs": {
      "filename_prefix": "Zimage",
      "images": [
        "8",
        0
      ]
    },
    "class_type": "SaveImage"
  },
  "62": {
    "inputs": {
      "value": 1080
    },
    "class_type": "ImpactInt"
  },
  "63": {
    "inputs": {
      "value": 1920
    },
    "class_type": "ImpactInt"
  },
  "68": {
    "inputs": {
      "lora_name": "z-image\\zit_fdpo_v1.safetensors",
      "strength_model": 0.6,
      "model": [
        "70",
        0
      ]
    },
    "class_type": "LoraLoaderModelOnly"
  },
  "70": {
    "inputs": {
      "lora_name": "z-image\\Z-Image-Fun-Lora-Distill-2-Steps-2603-ComfyUI.safetensors",
      "strength_model": 0.6,
      "model": [
        "1",
        0
      ]
    },
    "class_type": "LoraLoaderModelOnly"
  }
}
