{
  "9": {
    "inputs": {
      "filename_prefix": "Flux2-Klein-Edit",
      "images": [
        "101",
        0
      ]
    },
    "class_type": "SaveImage",
    "_meta": {
      "title": "保存图像"
    }
  },
  "76": {
    "inputs": {
      "image": "placeholder.png"
    },
    "class_type": "LoadImage",
    "_meta": {
      "title": "加载图像"
    }
  },
  "99": {
    "inputs": {
      "sampler_name": "euler"
    },
    "class_type": "KSamplerSelect",
    "_meta": {
      "title": "K采样器选择"
    }
  },
  "100": {
    "inputs": {
      "noise": [
        "102",
        0
      ],
      "guider": [
        "108",
        0
      ],
      "sampler": [
        "99",
        0
      ],
      "sigmas": [
        "109",
        0
      ],
      "latent_image": [
        "106",
        0
      ]
    },
    "class_type": "SamplerCustomAdvanced",
    "_meta": {
      "title": "自定义采样器（高级）"
    }
  },
  "101": {
    "inputs": {
      "samples": [
        "100",
        0
      ],
      "vae": [
        "105",
        0
      ]
    },
    "class_type": "VAEDecode",
    "_meta": {
      "title": "VAE解码"
    }
  },
  "102": {
    "inputs": {
      "noise_seed": 999
    },
    "class_type": "RandomNoise",
    "_meta": {
      "title": "随机噪波"
    }
  },
  "104": {
    "inputs": {
      "clip_name": "qwen_3_8b_fp8mixed.safetensors",
      "type": "flux2",
      "device": "default"
    },
    "class_type": "CLIPLoader",
    "_meta": {
      "title": "加载CLIP"
    }
  },
  "105": {
    "inputs": {
      "vae_name": "flux2-vae.safetensors"
    },
    "class_type": "VAELoader",
    "_meta": {
      "title": "加载VAE"
    }
  },
  "106": {
    "inputs": {
      "width": [
        "112",
        0
      ],
      "height": [
        "112",
        1
      ],
      "batch_size": 1
    },
    "class_type": "EmptyFlux2LatentImage",
    "_meta": {
      "title": "空Latent图像（Flux2）"
    }
  },
  "107": {
    "inputs": {
      "upscale_method": "bicubic",
      "megapixels": 1.0,
      "resolution_steps": 1,
      "image": [
        "76",
        0
      ]
    },
    "class_type": "ImageScaleToTotalPixels",
    "_meta": {
      "title": "缩放图像（像素）"
    }
  },
  "108": {
    "inputs": {
      "cfg": 1.0,
      "model": [
        "126",
        0
      ],
      "positive": [
        "116",
        0
      ],
      "negative": [
        "114",
        0
      ]
    },
    "class_type": "CFGGuider",
    "_meta": {
      "title": "CFG引导器"
    }
  },
  "109": {
    "inputs": {
      "steps": 8,
      "width": [
        "112",
        0
      ],
      "height": [
        "112",
        1
      ]
    },
    "class_type": "Flux2Scheduler",
    "_meta": {
      "title": "Flux2调度器"
    }
  },
  "110": {
    "inputs": {
      "text": [
        "117",
        0
      ],
      "clip": [
        "104",
        0
      ]
    },
    "class_type": "CLIPTextEncode",
    "_meta": {
      "title": "CLIP文本编码"
    }
  },
  "111": {
    "inputs": {
      "conditioning": [
        "110",
        0
      ]
    },
    "class_type": "ConditioningZeroOut",
    "_meta": {
      "title": "条件零化"
    }
  },
  "112": {
    "inputs": {
      "image": [
        "107",
        0
      ]
    },
    "class_type": "GetImageSize",
    "_meta": {
      "title": "获取图像尺寸"
    }
  },
  "114": {
    "inputs": {
      "conditioning": [
        "111",
        0
      ],
      "latent": [
        "115",
        0
      ]
    },
    "class_type": "ReferenceLatent",
    "_meta": {
      "title": "参考Latent"
    }
  },
  "115": {
    "inputs": {
      "pixels": [
        "107",
        0
      ],
      "vae": [
        "105",
        0
      ]
    },
    "class_type": "VAEEncode",
    "_meta": {
      "title": "VAE编码"
    }
  },
  "116": {
    "inputs": {
      "conditioning": [
        "110",
        0
      ],
      "latent": [
        "115",
        0
      ]
    },
    "class_type": "ReferenceLatent",
    "_meta": {
      "title": "参考Latent"
    }
  },
  "117": {
    "inputs": {
      "text": ""
    },
    "class_type": "CR Text",
    "_meta": {
      "title": "🔤 CR Text"
    }
  },
  "126": {
    "inputs": {
      "lora_name": "klein\\Klein 一致性增强.safetensors",
      "strength_model": 0.4,
      "model": [
        "127",
        0
      ]
    },
    "class_type": "LoraLoaderModelOnly",
    "_meta": {
      "title": "LoRA加载器（仅模型）"
    }
  },
  "127": {
    "inputs": {
      "unet_name": "FLUX\\flux-2-klein-9b🔥NSFW🔥_V1.safetensors",
      "weight_dtype": "default"
    },
    "class_type": "UNETLoader",
    "_meta": {
      "title": "UNet加载器"
    }
  }
}