{
  "477": {"class_type": "UNETLoader", "inputs": {"unet_name": "qwen_image_2.1_int8_convrot.safetensors", "weight_dtype": "default"}},
  "484": {"class_type": "QwenImage21Cache", "inputs": {"model": ["477", 0], "device": "auto", "dtype": "default"}},
  "478": {"class_type": "CLIPLoader", "inputs": {"clip_name": "qwen3vl_8b_int8_convrot.safetensors", "type": "qwen_image", "device": "default"}},
  "479": {"class_type": "VAELoader", "inputs": {"vae_name": "qwen_image_2.1_vae_bf16.safetensors"}},
  "470": {"class_type": "LoadImage", "inputs": {"image": "placeholder.png"}},
  "485": {"class_type": "TextEncodeQwenImage21", "inputs": {"clip": ["478", 0], "images.image_1": ["470", 0], "vae": ["479", 0], "prompt": "", "negative_prompt": "", "resolution": 1280}},
  "480": {"class_type": "EmptyLatentImage", "inputs": {"width": 1024, "height": 1024, "batch_size": 1}},
  "483": {"class_type": "ComfySwitchNode", "inputs": {"on_false": ["480", 0], "on_true": ["485", 2], "switch": true}},
  "482": {"class_type": "KSampler", "inputs": {"model": ["484", 0], "positive": ["485", 0], "negative": ["485", 1], "latent_image": ["483", 0], "seed": 999, "control_after_generate": "fixed", "steps": 50, "cfg": 1, "sampler_name": "euler", "scheduler": "simple", "denoise": 1}},
  "481": {"class_type": "VAEDecode", "inputs": {"samples": ["482", 0], "vae": ["479", 0]}},
  "494": {"class_type": "SaveImageAdvanced", "inputs": {"images": ["481", 0], "filename_prefix": "Qwen_image_2.1", "format": "png", "format.bit_depth": "8-bit", "format.input_color_space": "sRGB"}}
}
