{
  "103": {"class_type": "CLIPLoader", "inputs": {"clip_name": "ministral-3-3b.safetensors", "type": "flux2", "device": "default"}},
  "93": {"class_type": "UNETLoader", "inputs": {"unet_name": "baidu\\ernie-image-turbo.safetensors", "weight_dtype": "default"}},
  "104": {"class_type": "VAELoader", "inputs": {"vae_name": "flux2-vae.safetensors"}},
  "92": {"class_type": "EmptyFlux2LatentImage", "inputs": {"width": 768, "height": 1280, "batch_size": 1}},
  "98": {
    "class_type": "PrimitiveStringMultiline",
    "inputs": {"value": ""}
  },
  "99": {
    "class_type": "CR Prompt List",
    "inputs": {
      "prepend_text": "",
      "multiline_text": ["98", 0],
      "append_text": "",
      "start_index": 0,
      "max_rows": 1000
    }
  },
  "96": {"class_type": "CLIPTextEncode", "inputs": {"clip": ["103", 0], "text": ["99", 0]}},
  "105": {"class_type": "ConditioningZeroOut", "inputs": {"conditioning": ["96", 0]}},
  "95": {"class_type": "KSampler", "inputs": {"model": ["93", 0], "positive": ["96", 0], "negative": ["105", 0], "latent_image": ["92", 0], "seed": 646857757057525, "control_after_generate": "randomize", "steps": 8, "cfg": 1, "sampler_name": "euler", "scheduler": "simple", "denoise": 1}},
  "94": {"class_type": "VAEDecode", "inputs": {"samples": ["95", 0], "vae": ["104", 0]}},
  "73": {"class_type": "SaveImage", "inputs": {"images": ["94", 0], "filename_prefix": "Ernie-Turbo"}}
}
